:root {
  --accent-color: #00ffce;
  --background-color: #000a20;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03rem;
}

main {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.spacing {
  padding-left: 8vw;
  padding-right: 8vw;
}

h1 {
  font-size: 1.4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* ///// COLORS //////*/

.neon-green {
  color: var(--accent-color);
}

.white {
  color: white;
}

.bg-darkblue {
  background-color: var(--background-color);
}

.bgGr {
  background-color: #fafafa;
}

/* ///////  NAVBAR ////////// */

.nav-item i {
  font-size: 25px;
}

.navbar a {
  color: #ffffff;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:focus {
  color: var(--accent-color) !important;
}

.dropdown-item:hover {
  color: var(--accent-color);
  background-color: transparent;
}

#logout-btn {
  width: 90%;
}

.btn-outline-success {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-outline-success:hover {
  background-color: var(--accent-color);
  color: white;
}

.btn-success {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.btn-success:hover {
  color: white;
  border-color: var(--accent-color);
  background-color: transparent;
}

.progress {
  height: 7px;
  border-radius: 0.5rem;
}

.progress-bar {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
}

.fa-bars {
  color: white;
  font-size: 30px;
}

#searchBar {
  width: 300px;
}

/* ///// MAIN LANDING PAGE//////*/

#mainHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}

#logInArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logInDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}

#logInDiv > * {
  margin: 10px;
}

#landingpage form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#landingpage form > input {
  margin: 10px;
  height: 45px;
  border-radius: 5px;
}

#landingpage input::placeholder {
  padding-left: 10px;
}

.noBorder {
  border: none;
}

#mainImg {
  height: 100vh;
  position: relative;
}

#landingpage #link {
  text-decoration: underline !important;
  cursor: pointer;
}

#heroText {
  background-color: rgba(0, 10, 32, 0.9);
  width: 460px;
  text-align: end;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
}

#heroText > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
  margin: 10px;
}

#heroText > h1 {
  font-size: 40px;
  margin: 0;
}

#coursesSection {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 30px;
}

#aboutGrid {
  padding: 50px 100px 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 80px;
  column-gap: 100px;
}

#aboutSection > h1 {
  font-size: 30px;
  padding-left: 100px;
  padding-top: 50px;
}
#aboutP {
  width: 40%;
  margin-left: 100px;
  font-size: 18px;
}
#horLine {
  width: 800px;
}

.aboutElement > h2 {
  font-size: 25px;
}

.aboutElement > button {
  border-radius: 5px;
  padding: 10px;
}

#coursesInnerDiv .accordion {
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-align: center;
  outline: none;
}

#coursesInnerDiv .accordion:focus {
  outline: none;
}

#coursesInnerDiv .active,
#coursesInnerDiv .accordion:hover {
  color: var(--accent-color);
}

#coursesInnerDiv .panel {
  padding: 0 18px;
  display: none;
  color: white;
  overflow: hidden;
}

#coursesInnerDiv .accordion:after {
  content: "\25B6";
  font-size: 13px;
  color: var(--accent-color);
  float: right;
  margin-left: 5px;
}

#coursesInnerDiv .active:after {
  content: "\25BC";
}

#coursesInnerDiv {
  background-color: var(--background-color);
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}

/* ///////  USER DASHBOARD ////////// */

.btnF1 {
  font-size: 0.65rem;
  color: darkgray;
}

.btnF {
  font-size: 0.9rem;
}

.f4 {
  font-size: 1.2rem;
}

.container1,
.container2 {
  background: #ffffff;
  border: 0.3px solid #333333;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 6px 10px 35px 18px rgba(207, 205, 207, 1);
  -moz-box-shadow: 6px 10px 35px 18px rgba(207, 205, 207, 1);
  box-shadow: 6px 10px 35px 18px rgba(207, 205, 207, 1);
}

.carousel-control-next-icon {
  background-image: url("images/chevron.svg");
  margin-right: -70%;
}

.carousel-control-prev-icon {
  background-image: url("images/chevron2.svg");
  margin-left: -70%;
}

.carousel .active:after {
  content: ""; /* arrow up*/
}

.carousel-container {
  padding: 0 10vw 0 10vw;
}

.darkBtn:hover {
  border-color: #000a20;
  background-color: transparent;
}

/* ///////  LESSONS TEMPLATE ////////// */

/* //////// styling for containers/boxes //////// */

.bg-darkblue-box {
  background-color: #000a20;
  border-radius: 5px;
}

.bg-white-box {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.bg-box-spacing {
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

/* /////// topics and lessons overview ////////// */

/* drop down */

.topic-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.topic-btn:hover,
.topic-btn.active {
  color: var(--accent-color);
}

.topic-btn:after {
  content: "\25B6"; /* arrow down*/
  color: var(--accent-color);
  font-weight: bold;
  float: left;
  margin-right: 15px;
}

.active:after {
  content: "\25BC"; /* arrow up*/
}

.lessons-list {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

.lessons-list li {
  display: flex;
  margin-bottom: 20px;
  font-size: 13.5px;
}

.lessons-list li div:nth-child(2) {
  cursor: pointer;
}

.lessons-list.show {
  display: block !important;
}

.heart-icon {
  width: 24.5px;
  height: 13px;
  padding: 0 11px 0 0;
}
.check-load-icon {
  width: 13.5px;
  height: 14px;
  padding: 0 0 0 11px;
}

.fa-circle {
  color: var(--accent-color);
}

/* dotted lines */

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: block;
  pointer-events: none;
}

#overlay * {
  width: 100%;
  height: 50%;
}

#left-line {
  /*border-left: 2px dotted #00ffce;*/
  background-image: linear-gradient(
    to bottom,
    #00ffce 20%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: left;
  background-size: 3px 13px;
  background-repeat: repeat-y;
  margin-left: 10px;
  margin-top: -20px;
}

#right-line {
  /*border-right: 2px dotted #00ffce;*/
  background-image: linear-gradient(
    to bottom,
    #00ffce 20%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: right;
  background-size: 3px 13px;
  background-repeat: repeat-y;
  margin-left: -10px;
  margin-top: 40px;
}

/* /////// video ////////// */

iframe {
  border-radius: 5px;
}

/* /////// script ////////// */

#script-txt {
  overflow-y: scroll;
  max-height: 200px;
}

/* /////// exercise ////////// */

#exercise-txt {
  overflow-y: scroll;
  max-height: 425px;
}

/* /////// code editor ////////// */

#code-display-box {
  height: 80%;
  margin-bottom: 12px;
  counter-reset: line;
}

#code-snippet {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

#code-snippet ul {
  list-style: none;
  margin-left: 8px;
  padding-left: 0px;
  margin-top: 10px;
  color: #c5c5c5;
}

#code-placeholder {
  width: 80%;
  white-space: pre-wrap;
  padding-left: 10px;
}

/* ///////  FOOTER ////////// */

footer {
  height: 70px;
  background-color: #484848;
  font-size: 14px;
}

footer .icons a {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: darkgray;
  text-decoration: none;
}

footer .icons a:hover {
  color: var(--accent-color);
  transition: all 0.7s ease-out;
}

/* /////// MEDIA QUERIES ////////// */

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .embed-responsive {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .bg-box-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #mainImg {
    height: 80vh;
  }
  #mainHeader {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    margin-top: 60px;
  }

  #heroText {
    background-color: rgba(0, 10, 32, 0.9);
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 10;
  }
  #aboutGrid {
    padding: 50px 60px 50px 60px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
  }
  #horLine {
    width: 100vw;
  }
  #aboutP {
    width: 70vw;
    margin-left: 60px;
    font-size: 18px;
  }
  #aboutSection > h1 {
    padding-left: 60px;
    padding-right: 60px;
  }
  #logInDiv {
    width: 100%;
  }
  .accordion {
    width: 80%;
  }
  #coursesInnerDiv {
    width: 90vw;
  }

  .carousel-container {
    padding: 0 6vw 0 6vw;
  }
}

@media (max-width: 575.98px) {
  .navbar-brand {
    margin-right: 0;
    width: 180px;
  }

  #searchBar {
    width: 100px;
  }

  #aboutGrid {
    padding: 50px 25px 50px 25px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
  }

  #aboutSection > h1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  #aboutP {
    margin-left: 25px;
  }
}
